<config>
    <inbox_location>C:\Users\jason.ko\Dropbox\church\script\video_uploader\loc_inbox\</inbox_location>
    <dropbox_location>C:\Users\jason.ko\Dropbox\church\script\video_uploader\loc_dropbox\</dropbox_location>
    <short_term_archive_location>c:\Users\jason.ko\Dropbox\church\script\video_uploader\loc_short\</short_term_archive_location>
    <long_term_archive_location>C:\Users\jason.ko\Dropbox\church\script\video_uploader\loc_long\</long_term_archive_location>
    <handbrakecli_location>C:\Users\jason.ko\Dropbox\church\script\video_uploader\</handbrakecli_location>

    <!-- Encoding Preset -->
    <additional_enc_flags>Universal -2</additional_enc_flags>

    <!-- List Email in comma separated form  -->
    <notification_emails>jasooonko@gmail.com</notification_emails>
</config>
