<config>
    <inbox_location>C:\VideoUpload\INBOX\</inbox_location>
    <short_term_archive_location>C:\VideoUpload\ArchiveShortTerm\</short_term_archive_location>
    <long_term_archive_location>E:\ArchiveLongTerm\</long_term_archive_location>
	<handbrakecli_location>C:\VideoUpload\lib\video_uploader\</handbrakecli_location>
    
	<!-- Encoding Preset -->
    <!--<preset>Universal</preset>-->  
	<additional_enc_flags> --preset="Newtown720P" -e x264 -b 2000 -2 -T </additional_enc_flags>
	
    <!-- List Email in comma separated form  -->
    <notification_emails>jasooonko@gmail.com,webmaster@rcnewtown.org</notification_emails>
</config>
